.comment {
  display: block;
  border: 1px solid #dcdedf;
  border-radius: 10px;
  padding: 10px;

  &__name {
    font-family: var(--font-ubuntu);
    font-size: 15px;
    color: black;
  }

  &__content {
    font-family: var(--font-ubuntu);
    font-size: 12px;
    margin: 6px 0;
    color: #263238;
  }

  &_skeleton {
    background-color: #dcdedf;
    height: 44px;
    cursor: auto;
  }
}
